# ignore cache
__pycache__/

# ignore API keys
key.txt

# ignore Google data
*.nc

# ignore certain .csv files
impact_data_Mali.csv
impact_data_Mali_subraw.csv
impact_data_Mali_tidied.csv
missing_cercle_info.csv
missing_cercle_info_after_mod.csv
impact_events_per_admin_54.csv
impact_events_per_admin_123.csv
impact_events_per_admin_525.csv
impact_events_per_admin_673.csv

# ignore experimentation notebooks
extract.ipynb
extract_OLD.ipynb
extract_GRRR_OLD.ipynb
FloodStatus_API.ipynb
Hydrological_Models_API.ipynb
# analyse.ipynb
GRRR_Google_Runoff_Reanalysis_&_Reforecast.ipynb
preprocess_impact_data.py
calculate_RPs.py